<!--
* This file is part of the ESO system.
*
* (c) SBSystem 2018
*
* For the full license information please see LICENSE.md at https://github.com/SBSystem/ESO/LICENSE.md
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Elektroniczny dziennik, e-dziennik, dziennik, eso, szkola">
        <meta name="description" content="Elektroniczny dziennik ESO pozwoli Ci sprawdzać postępy twojego dziecka w nauce, obecności na lekcjach i wiele innnych!">
        <title>ESO</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-10 col-md-6  col-xs-offset-1 col-md-offset-3 form-col-image">
                    <div class="col-xs-12 bgimage_color">
                        <h1>ESO Logowanie</h1>
                    </div>
                </div>
                <div class="col-xs-10 col-md-6  col-xs-offset-1 col-md-offset-3 login_form">
                    <form action="{{ path('index') }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <input type="text" name="_username" class="form-control" placeholder="Nazwa Użytkownka" required autofocus>
                        <input type="password" name="_password" class="form-control" placeholder="Hasło" required>
                        <input type="submit" class="form-control btn btn-success value="Zaloguj">
                    </form>
                    {% if error %}

                        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>

                    {% endif %}
                </div>

            </div>
        </div>

    </body>
</html>



<!--
<form action="{{ path('index') }}" method="post">
    Login<input type="text" name="_username">
    Haslo<input type="text" name="_password">
    <input type="submit" value="wyslij">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</form>




-->